.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.home-background {
    min-width: 100vw;
}

.home-background img {
    min-width: 100%;
    max-height: 500px;
}

.home-body-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3px;

    width: 100vw;
    margin-top: -60px;

    border-radius: 60px;
    background-color: #fff;
}

.home-body {

    width: 1100px;
    padding-top: 50px;

    /* background-color: #f8f8f8; */

    text-align: justify;
}

.home-body-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-body-about img,
.home-body-contact-left img {
    min-width: 550px;
    max-width: 550px;

    border-radius: 20px;
}

.home-body-about-hight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px;
    gap: 30px;
}

.home-body-about-hight h3,
.home-body-contact-hight h3 {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-decoration: none;
    color: #492525;
}

.home-body-about-hight p {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    text-decoration: none;
    color: #000000;
}

.home-section-line {
    max-width: 100%;
    margin: 30px 300px;

    border: #49252557 1px solid;
}

.home-body-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 200px;
}

.home-body-contact-hight {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}