header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;

    width: 100vw;
    height: 70px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

}

.header-logo img {
    position: fixed;

    height: 60px;
    margin: 5px;
    top: 0;
    left: 0;

    border-radius: 15px;
}

.header-navigation a {
    padding: 0 30px;

    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-decoration: none;
    color: #492525;
}

.header-on-full-scroll {
    background-color: #492525;
}

.header-on-scroll {
    background-color: #492525cc;
}

.header-on-scroll a,
.header-on-full-scroll a {

    color: #fff;
}